body{
  margin: 0;
  width: 100%;
  height: auto;
  font-family: 'AtlasGrotesk',sans-serif;
}
.header{
  width: 100%;
  max-height: 15%;
  background-color: #f66335;
  padding-bottom: 1%;
}
.content{
  width: 100%;
  height: auto;
  margin: 0;
}
#left_header{
  width: 30%;
  text-align: left;
  display: inline-block;
  padding-top: 2px;
  padding-left: 7px;
}
#left_header img{
  padding-right: 10px;
}
#mid_header{
  width: 30%;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding-top: 2%;
}
#right_header{
  width:35%;
  display: inline-block;
  text-align: right;
}
#right_header img{
  padding-left: 10px;
}
#btn{
  color: #ffffff;
  font-size: 11px;
  background-color: transparent;
  border-radius: 26px;
  border: 1px solid rgba(0,0,0,0.5);
  height: 60px;
  width: 80%;
  font-weight: bold;
  margin-bottom: 4%;
  margin-top: 5%;
}
a{
  color: #ffffff;
  text-decoration: none;
}

.slider{
  width: 100%;
  height: auto;
}
#slider_image{
  background-image: url("image.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#top_slider{
  height: 95%;
}
#slider_content{
  width: 90%;
  color: #ffffff;
  font-size: 5vw;
  font-weight: bold;
  margin: 0 0 10px 50px;
  height: 35%;
}
sup{
  padding-left: 6px;
}
#icons{
  font-size: 1.5vw;
  width: 97%;
  height: 5%;
}
#icon_left{
  padding-left: 30px;
  display: inline-block;
}
#icon_right{
  float: right;
  border-bottom: 3px solid #f1f1f1; 
  padding-bottom: 5px;
  display: inline-block;
}
#icons img{
  padding-bottom: 2px;
}
#article1{
  width: 92%;
  padding-left: 30px;
  font-size: 2vw;
  padding-top: 20px;
  padding-bottom: 20px;
}
.images{
  width: 95%;
  position: relative;
}
#image1_div{
  width: 55%;
  float: left;
  margin-left: 30px;
  position: relative;
  display: inline-block;
}
#image1_div img{
  float: left;
  box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
  position: absolute;
  width: 100%;
}
#text{
  display: inline-block;
  float: right;
  width: 30%;
  border: 2px solid #f66e40; 
  text-align: left;
  position: relative;
  padding: 40px 50px 60px 50px;
  margin-top: 25px;
  z-index: 100;
  color: #e06f4e;
  font-size: 2vw;
  line-height: 20px;
}
#image_div{
  width: 70%;
  height: 80%;
}
#image_div img{
  position: absolute;
  width: 75%;
  top: 75%;
  margin-left: 125px;
  box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
}
.article2{
  padding-top: 50%;
  width: 93%;
  padding-left: 30px;
}
#heading{
  font-weight: bold;
  font-size: 3.5vw;
  width: 95%;
}
#article2_content{
  padding-top: 40px;
  font-size: 2vw;
  width: 89%;
  padding-bottom: 40px;
}
#video{
  box-shadow: 1px 10px 150px 0px rgba(0,0,0,0.2);
  width: 100%;
}
#article3{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 93%;
  padding-left: 30px;
  font-size: 2vw;
} 
.horizontal{
  width: 100%;
}
a{
  text-decoration: none;
}
#heading2{
  width: 100%;
  text-align: center;
  font-size: 2.5vw;
  font-weight: bold;
  padding-top: 10px;   
}
#heading3{
  color: #cccccc;
  width: 100%;
  font-size: 1.5vw;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}
#pagination{
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}
.footer{
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;font-weight: bold;
  color: #a2a2a2;
}
.header_mobile{
    display: none;
}
#new{
    display: none;
}
.images2{
    display: none;
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #f66335;
}
@media screen and (max-width: 708px) and (min-width: 557px){
  #icons{
    font-size: 1.5vw;
  }
  #article1{
    font-size: 2vw;
  }
  #heading{
    font-size: 3vw;
  }
  #article2_content{
    font-size: 2vw;
  }
  #article3{
    font-size: 2vw;
  }
  #heading2{
    font-size: 3vw;
  }
  #heading3{
    font-size: 2vw;
  }
  .header_mobile{
    display: none;
  }
  #new{
    display: none;
  }
  #image_div img {
    top: 200px;
  }
  .images2{
    display: none;
  }
}
@media screen and (max-width: 556px) and (min-width: 426px){
  .img1{
    width: 32%;
    height: 40%;
  }
  #image_div img {
    top: 130px;
    width: 60%;
    height: 80%;
  }
  #text{
    line-height: 10px;
    height: 30%;
  }
  .article2{
    padding-top: 120px;
  }
  .img2{
    width: 32%;
    height: 40%;
  }
  .img3{
    width: 32%;
    height: 40%;
  }
  #article1{
    width: 90%;
  }
  #slider_content{
    width: 80%;
  }
  #icons{
    font-size: 2vw;
  }
  #article1{
    font-size: 2.8vw;
  }
  #heading{
    font-size: 4vw;
  }
  #article2_content{
    font-size: 2.8vw;
  }
  #article3{
    font-size: 2.8vw;
  }
  #heading2{
    font-size: 4vw;
  }
  #heading3{
    font-size: 2.8vw;
  }
  .header_mobile{
    display: none;
  }
  #new{
    display: none;
  }
  .images2{
    display: none;
  }
}
@media screen and (max-width: 425px){
  .header_mobile{
    display: block;
    width: 100%;
    max-height: 15%;
    background-color: #f66335;
  }
  .header{
    display: none;
  }
  #header{
    max-width: 100%;
    padding-top: 20px;
  }
  #header img{
    padding-left: 7%;
    padding-right: 7%;
  }
  #top_slider{
    height: 40%;
  }
  #slider_content{
    width: 70%;
    height: 30%;
  }
  #icons{
    font-size: 3vw;
    padding-top: 2%;
  }
  #new{
    display: inline-block;
  }
  #old{
    display: none;
  }
  #article1{
    font-size: 3vw;
    line-height: 15px;
    padding-bottom: 30px;
    width: 80%;
  }
  .images{
    display: none;
  }
  .images2{
    display: inline-block;
    width: 95%;
  }
  #image_top2{
    float: left;
    width: 50%;
    margin-left: 30px;
    padding-top: 40px;
    display: inline-block;
  }
  #image_top2 img{
    float: left;
    box-shadow: 2px 14px 53px 5px rgba(0,0,0,0.2);
    position: absolute;
    width: 50%;
  }
  #image_div2{
    display: inline-block;
    float: right;
    width: 50%;
  }
  #image_div2 img{
    width: 100%;
    height: 40%;
    position: relative;
    box-shadow: 2px 14px 53px 5px rgba(0,0,0,0.2);
    bottom: 60px;
  }
  .article2{
    padding-top: 5%;
    width: 90%;
  }
  #heading{
    font-size: 4vw;
    width: 100%;
  }
  #article2_content{
    font-size: 3vw;
  }
  #article3{
    font-size: 3vw;
    width: 80%;
  }
  #heading2{
    font-size: 3.8vw;
  }
  #heading3{
    font-size: 3vw;
  }
  #thumbnail-slider div.inner ul {
    height: 50% !important;
  }
}
/*slider*/
#thumbnail-slider {
    margin:0 auto; /*center-aligned*/
    width: 100%;
    padding:0;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#thumbnail-slider div.inner {    
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
 
#thumbnail-slider div.inner ul {    
    white-space: nowrap;
    position: relative;
    left: 0; top: 0;
    list-style: none;
    font-size: 0;
    padding: 0;
    margin: 0;
    float: left!important;
    width: auto!important;
    height: 80% !important;
}

#thumbnail-slider ul li {
    display:inline-block;
    margin-top:20px;
    margin-bottom:90px;
    margin-left:-30px; margin-right:-30px; /* Spacing between thumbs*/
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
    -webkit-transition:-webkit-transform 0.5s;
    transition:transform 0.5s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
}

#thumbnail-slider ul li.active {
    -webkit-transform:scale(1.15); 
    transform:scale(1.15);
    background-color:transparent;
}

#thumbnail-slider .thumb {
    width: 100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
    cursor:inherit;
    box-shadow: 0px 0px 53px 5px rgba(0,0,0,0.1);
}
#thumbnail-slider-pause-play {display:none;} /*.pause*/
#thumbnail-slider-prev, #thumbnail-slider-next {display:none;}

@media screen and (max-width: 384px) and (max-height: 640px){
  #top_slider{
    height: 10%;
  }

  #thumbnail-slider div.inner ul {
    height: 25% !important;
  }
  
  #slider_content{
    height: 10%;
    padding-top: 70px;
    padding-bottom: 10px;
  }
  #icons{
    font-size: 4vw;
  }
  #article1{
    padding: 0;
    margin: 0;
    padding-left: 30px;
    font-size: 4.8vw;
    line-height: 25px;
    padding-bottom: 40px;
  }
  #image_div2 img{
    height: 20%;
  }
  #heading{
    font-size: 5.8vw;
  }
  #article2_content{
    font-size: 4.8vw;
    padding-top: 15px;
  }
  #article3{
    font-size: 4.8vw;
  }
  #heading2{
    font-size: 5.8vw;
  }
  #heading3{
    font-size: 4.8vw;
  }
}
@media screen and (max-width: 414px) and (max-height: 736px){
  #top_slider{
    height: 30%;
  }
  #slider_content{
    display: table-cell;
    vertical-align: text-bottom;
    padding: 0 4% 4% 4%;
    height: 10%;
  }
  #image_div2 img{
    height: 20%;
  }
  #article1{
    font-size: 4.5vw;
    padding-bottom: 50px;
    line-height: 20px;
  }
  #article2_content{
    font-size: 4.5vw;
  }
  #heading{
    font-size: 5.8vw;
  }
  #article3{
    font-size: 4.8vw;
  }
  #heading2{
    font-size: 5.8vw;
  }
  #heading3{
    font-size: 4.8vw;
  }
  .footer{
    padding-bottom: 20px;
  }
  .footer img{
    width: 3%;
  }
  #thumbnail-slider div.inner ul {
    height: 25% !important;
  }
}
@media screen and (width: 600px) and (height: 960px){
  #top_slider{
    height: 10%;
  }
  #slider_content{
    height: 15%;
    padding-top: 200px;
  }
  #image_div{
    width: auto;
    height: auto;
  }
  #image_div img{
    top: 170px;
  }
  .article2{
    padding-top: 300px;
  }
  #article1{
    font-size: 4.4vw;
  }
  #heading{
    font-size: 5vw;
  }
  #article2_content{
    font-size: 4.4vw;
  }
  #article3{
    font-size: 4.4vw;
  }
  #heading2{
    font-size: 5vw;
  }
  #heading3{
    font-size: 4.4vw;
  }
}
@media screen and (max-width: 750px) and (min-width: 660px){
  #thumbnail-slider div.inner ul {
    height: 75% !important;
  }
}
@media screen and (max-width: 660px) and (min-width: 425px){
  #thumbnail-slider div.inner ul {
    height: 60% !important;
  }
}
@media screen and (width: 600px) and (height: 1024px){
  #image_div{
    height: auto;
  }
  #thumbnail-slider div.inner ul {
    height: 25% !important;
  }
  .article2{
    padding-top: 320px;
  }
  #top_slider{
    height: 20%;
  }
  #slider_content{
    height: 10%;
    display: table-cell;
    vertical-align: text-bottom;
    padding: 0 4% 4% 4%;
  }
}
@media screen and (width: 768px) and (height: 1024px){
  #top_slider{
    height: 30%;
  }
  #slider_content{
    height: 20%;
    display: table-cell;
    vertical-align: text-bottom;
    padding: 0 4% 4% 4%;
  }
  #icons{
    font-size: 3vw;
  }
  #icons img{
    width: 10%;
  }
  #article1{
    line-height: 100%;
    font-size: 4vw;
  }
  #image_div img{
    top: 25%;
  }
  #image_div{
    height: 60%;
  }
  .article2{
    padding-top: 5%;
  }
  #heading{
    font-size: 5vw;
  }
  #article2_content{
    font-size: 4vw;
  }
  #article3{
    font-size: 4vw;
  }
  #heading2{
    font-size: 5vw;
  }
  #heading3{
    font-size: 4vw;
  }
  .footer{
    font-size: 4vw;
  }
  .footer img{
    width: 3%;
  }
}
@media screen and (width: 375px) and (max-height: 667px){
  #image_div2 img{
    height: 20%;
  }
  #top_slider{
    height: 30%;
  }
  #slider_content{
    display: table-cell;
    vertical-align: text-bottom;
    padding: 0 4% 4% 4%;
    height: 20%;
  }
  #thumbnail-slider div.inner ul {
    height: 25% !important;
  }
}